@import "tailwindcss";

@theme {
  /* Couleurs */
  --color-dark: #131313;
  --color-light-grey: #c3c3c3;

  /* Polices */
  --font-title: var(--font-bbh-bogle);
  --font-mono: var(--font-ibm-plex);
}

body {
  background-color: var(--color-dark);
  color: white; /* J'ai enlevé le # qui causait l'erreur */
  font-family: var(--font-ibm-plex), monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Application automatique de la police BBH Bogle aux titres */
h1, h2, h3, h4, .font-title {
  font-family: var(--font-bbh-bogle), sans-serif;
}